/*//////////////////////////////////////
//  imports
//////////////////////////////////////*/
/* line 5, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../build/sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*//////////////////////////////////////
//  colors
//////////////////////////////////////*/
/*//////////////////////////////////////
//  fonts
//////////////////////////////////////*/
/*//////////////////////////////////////
//  extension on skeleton
//////////////////////////////////////*/
/* line 42, ../../build/sass/partials/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../../build/sass/partials/_base.scss */
.block {
  *zoom: 1;
}
/* line 17, ../../build/sass/bourbon/addons/_clearfix.scss */
.block:before, .block:after {
  content: " ";
  display: table;
}
/* line 23, ../../build/sass/bourbon/addons/_clearfix.scss */
.block:after {
  clear: both;
}

/* line 51, ../../build/sass/partials/_base.scss */
.disable-hover {
  pointer-events: none;
}

/* line 55, ../../build/sass/partials/_base.scss */
b, strong {
  font-weight: 700;
}

/* line 59, ../../build/sass/partials/_base.scss */
i, em {
  font-style: italic;
}

/* line 63, ../../build/sass/partials/_base.scss */
input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 67, ../../build/sass/partials/_base.scss */
input:focus, textarea:focus, button, input[type="submit"] {
  outline: none;
}

/* line 71, ../../build/sass/partials/_base.scss */
button, input[type="submit"] {
  cursor: pointer;
}

/*//////////////////////////////////////
//  mixins
//////////////////////////////////////*/
/*//////////////////////////////////////
//  silent classes
//////////////////////////////////////*/
/* line 91, ../../build/sass/partials/_base.scss */
.block {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 136, ../../build/sass/partials/_base.scss */
main section h1:after {
  content: " ";
  display: block;
}

/* line 142, ../../build/sass/partials/_base.scss */
body, html {
  display: block;
  height: 100%;
}

/* line 147, ../../build/sass/partials/_base.scss */
body {
  font-size: 62.5%;
  position: relative;
}

/* line 6, ../../build/sass/screen.scss */
body {
  background-color: #FF4D74;
  padding: 10px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: backround-color 0.3s ease-in;
  -moz-transition: backround-color 0.3s ease-in;
  transition: backround-color 0.3s ease-in;
}

/* line 14, ../../build/sass/screen.scss */
code {
  display: inline;
  font-family: monospace;
}

/* line 19, ../../build/sass/screen.scss */
p code {
  padding: 3px 6px;
  border-radius: 1px;
  background-color: #ff809c;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@-webkit-keyframes bob {
  0% {
    top: 0px;
  }
  100% {
    top: 30px;
  }
}
@-moz-keyframes bob {
  0% {
    top: 0px;
  }
  100% {
    top: 30px;
  }
}
@-o-keyframes bob {
  0% {
    top: 0px;
  }
  100% {
    top: 30px;
  }
}
@keyframes bob {
  0% {
    top: 0px;
  }
  100% {
    top: 30px;
  }
}
@-webkit-keyframes shadow {
  0% {
    width: 30%;
  }
  100% {
    width: 60%;
  }
}
@-moz-keyframes shadow {
  0% {
    width: 30%;
  }
  100% {
    width: 60%;
  }
}
@-o-keyframes shadow {
  0% {
    width: 30%;
  }
  100% {
    width: 60%;
  }
}
@keyframes shadow {
  0% {
    width: 30%;
  }
  100% {
    width: 60%;
  }
}
/* line 44, ../../build/sass/screen.scss */
main {
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
/* line 48, ../../build/sass/screen.scss */
main figure {
  position: relative;
  cursor: pointer;
  height: 330px;
  width: 146px;
  display: block;
  margin: 0 auto;
}
/* line 55, ../../build/sass/screen.scss */
main figure div.bae {
  position: relative;
  -webkit-animation: bob 6s ease infinite alternate;
  -moz-animation: bob 6s ease infinite alternate;
  animation: bob 6s ease infinite alternate;
}
/* line 59, ../../build/sass/screen.scss */
main figure img.baebot {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
  width: 100%;
}
/* line 66, ../../build/sass/screen.scss */
main figure img.eyes {
  width: 85%;
  position: absolute;
  top: 10px;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}
/* line 72, ../../build/sass/screen.scss */
main figure img.eyes-squint, main figure img.eyes-hearts {
  display: none;
}
/* line 75, ../../build/sass/screen.scss */
main figure div.shadow {
  display: block;
  -webkit-animation: shadow 6s ease infinite alternate;
  -moz-animation: shadow 6s ease infinite alternate;
  animation: shadow 6s ease infinite alternate;
  height: 8px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: auto;
  right: auto;
  bottom: -90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 85, ../../build/sass/screen.scss */
main section {
  padding: 30px;
  font-size: 16px;
  color: #fff;
}
/* line 89, ../../build/sass/screen.scss */
main section h1 {
  font-weight: 700;
  font-size: 1.33em;
  line-height: 1.25;
  padding-bottom: 25px;
  margin-bottom: 20px;
  position: relative;
}
/* line 96, ../../build/sass/screen.scss */
main section h1:after {
  width: 33%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0px;
  left: 0px;
}
/* line 104, ../../build/sass/screen.scss */
main section p {
  font-weight: 400;
  margin-bottom: 0.735em;
  line-height: 1.375;
}
/* line 109, ../../build/sass/screen.scss */
main section a {
  background-color: #00B5FF;
  border-bottom: 3px solid #0091cc;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1em;
  padding: 1em 2.5em;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 120, ../../build/sass/screen.scss */
main section a code {
  font-size: 1.25em;
}

/* line 128, ../../build/sass/screen.scss */
.no-touchevents main figure:hover img.eyes-regular {
  display: none;
}
/* line 131, ../../build/sass/screen.scss */
.no-touchevents main figure:hover img.eyes-squint {
  display: block;
}

/* line 136, ../../build/sass/screen.scss */
body.love-me {
  background-color: #00B5FF;
}
/* line 138, ../../build/sass/screen.scss */
body.love-me main section a {
  background-color: #FF4D74;
  border-bottom: 3px solid #ff1a4c;
}
/* line 142, ../../build/sass/screen.scss */
body.love-me p code {
  background-color: #33c4ff;
}
/* line 146, ../../build/sass/screen.scss */
body.love-me figure img.eyes-regular,
body.love-me figure img.eyes-squint, body.love-me figure:hover img.eyes-regular,
body.love-me figure:hover img.eyes-squint {
  display: none;
}
/* line 150, ../../build/sass/screen.scss */
body.love-me figure img.eyes-hearts, body.love-me figure:hover img.eyes-hearts {
  display: block;
}
/* line 153, ../../build/sass/screen.scss */
body.love-me figure img.baebot,
body.love-me figure div.shadow, body.love-me figure:hover img.baebot,
body.love-me figure:hover div.shadow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
}

/* line 161, ../../build/sass/screen.scss */
.no-touchevents a.text {
  display: none;
}
/* line 164, ../../build/sass/screen.scss */
.no-touchevents p.number {
  display: block;
  font-size: 20px;
}

/* line 170, ../../build/sass/screen.scss */
.touchevents p.text {
  display: none;
}
/* line 173, ../../build/sass/screen.scss */
.touchevents a.text {
  display: none;
}

@media all and (min-width: 800px) {
  /* line 179, ../../build/sass/screen.scss */
  main {
    *zoom: 1;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  /* line 17, ../../build/sass/bourbon/addons/_clearfix.scss */
  main:before, main:after {
    content: " ";
    display: table;
  }
  /* line 23, ../../build/sass/bourbon/addons/_clearfix.scss */
  main:after {
    clear: both;
  }
  /* line 184, ../../build/sass/screen.scss */
  main figure {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  /* line 33, ../../build/sass/neat/grid/_span-columns.scss */
  main figure:last-child {
    margin-right: 0;
  }
  /* line 187, ../../build/sass/screen.scss */
  main section {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  /* line 33, ../../build/sass/neat/grid/_span-columns.scss */
  main section:last-child {
    margin-right: 0;
  }
}

/*# sourceMappingURL=screen.css.map */
